html, body, #root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* altura total da tela */
}

.content {
  flex: 1; /* ocupa todo espaço disponível acima do footer */
}

.footer {
  padding: 10px;
  text-align: right; /* alinha texto à direita */
  background-color: #f1f1f1; /* opcional */
}